/*
 *
 *
 */

.footer_default {
    width: 100%;
    border-top: thin solid #BBBBBB;
}

.title_current {
    font-weight: bold;
    text-decoration: underline;
}

.title_forecast {
    font-weight: bold;
    text-decoration: underline;
}

.current_section {
    margin-top: 15pt;
    border-top: thin solid #BBBBBB;
}

.forecast_section {
    margin-top: 15pt;
    border-top: thin solid #BBBBBB;
}
